@inherits BulletinDisplayComponent

@inject IStringLocalizer<Strings> Localize

<style>
    .order-of-service.debug {
        background-color: mediumseagreen;
    }
</style>

<div class="row flex-fill align-items-center">
    <div class="col order-of-service @DebugClass">
        <p>@Localize["OrderOfService.Title"]</p>
        <ul class="list-group list-group-flush">
            @foreach (var item in Service.Items)
            {
                <ServiceItemDisplay Item="item" />
            }
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public Data.Service.Service Service { get; set; }
}
