@using ServicePlanner.Data.Service
@using ServicePlanner.Service.Output

<li class="list-group-item">@Item.Format(formatter)</li>

@code {

    [Parameter]
    public ServiceItem Item { get; set; }

    private static BasicServiceItemFormatter formatter = new();
}