@using ServicePlanner.Data.Service

@inject IStringLocalizer<Strings> Localize

<form class="row g-3">
    <div class="col-md-6">
        <label class="form-label" for="service-name">
            @Localize["GeneralEditor.Controls.Name.Label"]
        </label>
        <input id="service-name" class="form-control" type="text" @bind="Service.Name" />
    </div>
    <div class="col-md-6">
        <label class="form-label" for="service-date">
            @Localize["GeneralEditor.Controls.Date.Label"]
        </label>
        <input id="service-date" class="form-control" type="date" @bind="Service.Date" />
    </div>
</form>

@code {
    [Parameter]
    public Service Service { get; set; }
}
