@using ServicePlanner.Bulletin.OrderOfService
@using ServicePlanner.Service.Models

@inject IStringLocalizer<Strings> Localize

<style>
    .row {
        display: flex;
    }

    .column {
        flex: 50%;
    }
</style>

<h3>@Localize["OrderOfService.Title"]</h3>
<p>@Service.Date.ToString("yyyy-MM-dd")</p>
<ul class="list-group">
    @foreach (var item in Service.Items)
    {
        <ServiceItemDisplay Item="item"/>
    }
</ul>

@code {
    [Parameter]
    public Service Service { get; set; }
}