@using BlazorTemplater
@using ServicePlanner.Service.Models
@using System.Text
@using WkHtmlToPdfDotNet
@using WkHtmlToPdfDotNet.Contracts

@inject IJSRuntime Js
@inject PdfService PdfService
@inject IStringLocalizer<Strings> Localize

<button type="button" class="btn btn-primary" @onclick="HandleClick">@Localize["ServiceEditor.GeneratePdf.Label"]</button>

@code {
    [Parameter]
    public Service Service { get; set; }

    private void HandleClick(MouseEventArgs args)
    {
        var pdfData = PdfService.GenerateServicePdf(Service);
        DownloadFile(pdfData);
    }

    private void DownloadFile(byte[] pdfData)
    {
        FileUtility.SaveAs(Js, "Service.pdf", pdfData);
    }
}