@using ServicePlanner.Service.Models

@inject IStringLocalizer<Strings> Localize

<style>
    @LayoutStyle 
</style>

<h3>@Localize["OrderOfService.Title"]</h3>

<ul class="list-group">
    @foreach (var item in ServiceItems)
    {
        <ServiceItemDisplay Item="item"/>
    }
</ul>

@code {

    [Parameter]
    public List<ServiceItem> ServiceItems { get; set; } = new();

    [Parameter]
    public string LayoutStyle { get; set; }

}