@using ServicePlanner.Service.Models

@inherits ServiceItemEditor

@inject IStringLocalizer<Strings> Localize

<div class="mb-3">
    <label class="form-label">
        @Localize["ServiceEditor.ItemEditor.Label"]
        <input type="text" class="form-control" @oninput="HandleInputUpdate" value="@Item.Content" />
    </label>

    <DeleteServiceItem OnClick="HandleSongDelete" />
</div>

@code {
    [Parameter]
    public GeneralServiceItem Item { get; set; }
    
    private async Task HandleInputUpdate(ChangeEventArgs args)
    {
        if (OnUpdate.HasDelegate)
        {
            if (args is not null)
            {
                Item.Content = (string)args.Value;
                await OnUpdate.InvokeAsync(Item);
            }
        }
    }

    private async Task HandleSongDelete()
    {
        if (OnDelete.HasDelegate)
        {
            await OnDelete.InvokeAsync(Item);
        }
    }
}
