@using ServicePlanner.Service.Models

@inherits ServiceItemEditor<GeneralServiceItem>

@inject IStringLocalizer<Strings> Localize

<ServiceItemEditor TItem="GeneralServiceItem" Item="Item" OnMove="OnMove" OnDelete="OnDelete" OnUpdate="OnUpdate">
    <label class="form-label">
        @Localize["ServiceEditor.ItemEditor.Label"]
        <input type="text" class="form-control" @oninput="HandleInputUpdate" value="@Item.Content" />
    </label>
</ServiceItemEditor>

@code {
    private async Task HandleInputUpdate(ChangeEventArgs args)
    {
        if (OnUpdate.HasDelegate)
        {
            if (args is not null)
            {
                Item.Content = (string)args.Value;
                await OnUpdate.InvokeAsync(Item);
            }
        }
    }
}
