@using ServicePlanner.Data.Music
@using ServicePlanner.Service.Wizard.OrderOfService
@using ServicePlanner.Service.Models

@inject IStringLocalizer<Strings> Localize

<p>@Localize["OrderOfService.Description"]</p>

<form>
    <div class="form-group">
        <AddSongServiceItem OnClick="HandleServiceItemAdd" />
        <AddGeneralServiceItem OnClick="HandleServiceItemAdd" />
    </div>
</form>

<hr />

<h2>@Localize["ServiceEditor.ServiceEditor.Header"]</h2>

<form>
    <div class="form-group">
        @foreach (var item in Service.Items)
        {
            var type = item.GetType();

            if (type == typeof(Song))
            {
                <SongServiceItemEditor Item="(Song)item" OnUpdate="HandleServiceItemUpdate" OnMove="HandleServiceItemMove" OnDelete="HandleServiceItemDelete" />
            }
            else if (type == typeof(GeneralServiceItem))
            {
                <GeneralServiceItemEditor Item="(GeneralServiceItem)item" OnUpdate="HandleServiceItemUpdate" OnMove="HandleServiceItemMove" OnDelete="HandleServiceItemDelete" />
            }
        }
    </div>
</form>

@code {
    [Parameter]
    public Service Service { get; set; }

    private void HandleServiceItemAdd(ServiceItem item)
    {
        Service.Items.Add(item);
    }

    private void HandleServiceItemUpdate(ServiceItem item)
    {
        this.StateHasChanged();
    }

    private void HandleServiceItemDelete(ServiceItem item)
    {
        Service.Items.Remove(item);
    }

    private void HandleServiceItemMove(MoveEventInfo eventInfo)
    {
        if (eventInfo.Direction == MoveDirection.Up)
        {
            MoveItemUp(eventInfo.Item);
        }
        else if (eventInfo.Direction == MoveDirection.Down)
        {
            MoveItemDown(eventInfo.Item);
        }

        this.StateHasChanged();
    }

    private void MoveItemUp(ServiceItem item)
    {
        if (Service.Items.First() == item)
        {
            return;
        }

        int oldIndex = Service.Items.IndexOf(item);
        Service.Items.Remove(item);
        int newIndex = --oldIndex;
        Service.Items.Insert(newIndex, item);
    }

    private void MoveItemDown(ServiceItem item)
    {
        if (Service.Items.Last() == item)
        {
            return;
        }

        int oldIndex = Service.Items.IndexOf(item);
        Service.Items.Remove(item);
        int newIndex = ++oldIndex;
        Service.Items.Insert(newIndex, item);
    }
}