@using ServicePlanner.Data.Service

@typeparam TItem where TItem : ServiceItem

<div class="mb-3">
    @ChildContent

    <MoveServiceItem OnMove="HandleOnMove" />
    <DeleteServiceItem OnDelete="HandleItemDelete" />
</div>

@code {
    [Parameter]
    public EventCallback<TItem> OnDelete { get; set; }

    [Parameter]
    public EventCallback<TItem> OnUpdate { get; set; }

    [Parameter]
    public EventCallback<MoveEventInfo> OnMove { get; set; }

    [Parameter]
    public TItem Item { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private async Task HandleItemDelete()
    {
        if (OnDelete.HasDelegate)
        {
            await OnDelete.InvokeAsync(Item);
        }
    }

    private async Task HandleOnMove(MoveDirection direction)
    {
        if (OnMove.HasDelegate)
        {
            var eventInfo = new MoveEventInfo()
                {
                    Item = Item,
                    Direction = direction,
                };
            await OnMove.InvokeAsync(eventInfo);
        }
    }
}
